--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
gunicorn
crewai==1.14.3
crewai-tools
langchain-groq
langchain-community
python-dotenv
neo4j
torch==2.2.1+cpu
torchvision==0.17.1+cpu
sentence-transformers==2.2.2
tavily-python
